
<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col logo-holder">
				<div class="logo-block">
					<a href="#">
						<img src="./assets/img/logo-footer.svg" alt="image description">
					</a>
				</div>
				<p>Курси валют та обмін у Польщі. EUR, USD, GBP та інші валюти. Онлайн-калькулятор та офіційні відділення.</p>
			</div>
			<div class="col">
				<ul class="footer-nav">
					<li><a href="#">Калькулятор валют</a></li>
					<li><a href="#">FAQ (Поширені запитання)</a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="footer-nav">
					<li><a href="#">Файли cookie</a></li>
					<li><a href="#">Політика конфіденційності</a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="footer-nav">
					<li><a href="#">Контакти</a></li>
					<li><a href="#">Умови користування</a></li>
				</ul>
			</div>
			<div class="col contact-col">
				<a href="tel:48573851841" class="phone-link">
					<img src="./assets/img/phone.svg" alt="">
					+48 573 851 841
				</a>
				<a href="mailto:whitecash.contact @gmail.com" class="email">
					<img src="./assets/img/email.svg" alt="">
					whitecash.contact@gmail.com
				</a>
				<ul class="footer-socials">
					<li>
						<a href="#">
							<img src="./assets/img/viber.svg" alt="viber">
						</a>
					</li>
					<li>
						<a href="#">
							 <img src="./assets/img/telegram-footer.svg" alt="telegram">
						</a>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="footer-bottom">
			<div class="copy-holder">
				<p>&copy; 2026 Kantor WM. Усі права захищені. Курси валют мають інформаційний характер і можуть змінюватися.</p>
			</div>
		</div>
	</div>
</footer>
<div id="city-prompt" class="custom-modal city-modal city-promt" style="display: none;">
    <h2>Ви знаходитесь у місті <span class="blue-text">Варшава</span>?</h3>
    
    <div class="confirm-block">
        <button class="btn btn-primary js-close-fancy" data-fancybox-close>Так</button>
    </div>

    <div class="city-selection-title">Оберіть ваше місто</div>
    
    <div class="city-grid">
        <a href="#" class="city-item" data-fancybox-close>Варшава</a>
        <a href="#" class="city-item" data-fancybox-close>Лодзь</a>
        <a href="#" class="city-item active" data-fancybox-close>Гданськ</a>
        <a href="#" class="city-item" data-fancybox-close>Познань</a>
        <a href="#" class="city-item" data-fancybox-close>Гдиня</a>
        <a href="#" class="city-item" data-fancybox-close>Щецин</a>
    </div>
</div>
<!--		@@include('modals.html')-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5/dist/fancybox/fancybox.umd.js"></script>
		<script async src="./assets/js/currency-widget.js"></script>
		<script async src="./assets/js/global.js"></script>
</body>
</html>
